.main {
  margin: 0 auto;
  width: 80%;
}

button{
  align-self:center;
  background:transparent;
  /* background-color: white; */
  padding:0.25rem 0.25rem;
  margin-left:0.25em;
  margin-right:0.5em;
  color:#41403E;
  font-size:1rem;
  letter-spacing:1px;
  outline:none;
  border:solid 1px #41403E;
  margin-top:0.3em;
  margin-bottom:0.5rem;
  transition: background-color 1s;
}
button:hover{
     box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
     background-color:lightgrey;
    }

    td button {
      margin-top:0;
      margin-bottom:0;
    }
    input {
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
      border:solid 1px #85858f;
      padding-top: 0.5em;
      padding-bottom:0.5em;
      margin-top:0.2em;
      font-size: 1rem;
      padding-left:0.2em;
      margin-left:0.25em;
      margin-right:0.5em;
      transition:background-color 0.5s;
      outline:none;
    
    }
    input[type=text] {
      box-sizing: border-box;
    }
    
    input:hover {
      background-color:#efefef;
      color:#41403E;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      width:100%;
    }

    li {
      display: inline-block;
      border:solid 1px #85858f;
      text-decoration: none;
      padding-left:0.5rem;
      padding-right: 0.5rem;
      padding-top: 0.5rem;
      padding-bottom:0.5rem;
      margin-right: 0;
      text-align: center;
    }

    .ulListItemHeader {
      background-color:rgb(122, 139, 216);
      font-weight: bold;
      border:0;
      margin-bottom:1px;
    }
    .liListItem {
      margin:0;
      padding:0;
      width:110px;
    }
    .ulListItem {
      transition:background-color 0.5s;
    }
    .ulListItem:hover {
      background-color: rgb(238, 238, 243);

    }
    .liListItemHeader {
      margin:0;
      padding-left:0;
      padding-right: 0;
      padding-top: 0.5rem;
      padding-bottom:0.5rem;
      border:1px solid rgb(92, 114, 207);;
      width:110px;
    }
    li a {
      margin-top:0.5rem;
      margin-bottom:0.25rem;
      display: inline-block;
      border:solid 1px #85858f;
      width:80px;
      text-decoration: none;
      padding-left:0.5rem;
      padding-right: 0.5rem;
      padding-top: 0.5rem;
      padding-bottom:0.5rem;
      margin-right: 0.25rem;
      text-align: center;
    }

    li a:hover {
      background-color:lightgrey;
    }

    label.entries {
      width:100px;
      display:inline-block;
      margin-left:0.25em;
    }

    div.entryForm {
      margin-top:1.5rem;
      border:solid 1px #85858f;
      width:90%;
    }

    div.entryForm h2 {
      margin-top:0.1rem;
      font-size:1.2em;
    }

    .addItemForm {
      display: flex;
      flex-wrap: wrap;
    }